<footer id="footer">

    <div class="footer py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="footer-link" href="#">Menu</a>
                    <a class="footer-link" href="#">Newsletter</a>
                    <a class="footer-link" href="#">FAQ</a>
                    <a class="footer-link" href="#">Contact</a>
                </div>
                <div class="footer-social pt-4 text-center">
                    <a href="https://www.facebook.com/profile.php?id=100006939274996"><i
                            class="fab fa-facebook"></i></a>
                    <a
                        href="https://studio.youtube.com/channel/UCxZVgwk9KAVHZqTUIryOkvA/videos/upload?filter=%5B%5D&sort=%7B%22columnType%22%3A%22date%22%2C%22sortOrder%22%3A%22DESCENDING%22%7D"><i
                            class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/akshaytaware13"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="footer-copy">
                    <div class="copy-right text-center pt-5">
                        <p class="text-light">@ 2023. Portal. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>